<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('admin.static', filename='images/favicon.ico')}}">

        <title>{% block title %}藕丝空间 {% endblock %}</title>
        {% block css %}
            <!-- 新 Bootstrap 核心 CSS 文件 -->
            <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

            <!-- 可选的Bootstrap主题文件（一般不用引入） -->
            <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

            <!-- 个性化主题文件 -->

            <link href="{{ url_for('admin.static', filename='css/admin.css')}}" rel="stylesheet">
        {% endblock %}

        {% block js %}
            <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
            <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

            <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
            <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <!-- 个性化 js 文件 -->
            <script src="{{ url_for('admin.static', filename='js/admin.js')}}"></script>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="add-admin">
                    <div class="row">
                        <div class="col-xs-12 col-sm-offset-4">
                            <div class="col-xs-12 col-sm-4">
                                <form method="post" role="form">
                                    {{ addAdminForm.hidden_tag() }}
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
                                        {{ addAdminForm.username(class="form-control", placeholder="输入管理员用户名", required="", autofocus="") }}
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i> </span>
                                        {{ addAdminForm.email(class="form-control", placeholder="输入管理员邮箱", required="") }}
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> </span>
                                        {{ addAdminForm.password(class="form-control", placeholder="输入管理员密码", required="") }}
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> </span>
                                        {{ addAdminForm.password2(class="form-control", placeholder="再次输入管理员密码", required="") }}
                                    </div>
                                    <div class="pull-right">
                                        <input class="btn btn-default" type="reset" value="重 置" style="margin-right: 10px">
                                        {{ addAdminForm.submit(class="btn btn-primary") }}
                                    </div>
                                </form>
                                <div class="col-xs-12">
                                    <br>
                                    <div class="row">
                                    {% for field_name, field_errors in addAdminForm.errors|dictsort if field_errors %}
                                        {% for error in field_errors %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <strong>{{ addAdminForm[field_name].label }}错误：</strong> {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/row-->
        </div><!--/.container-->
    </body>
</html>