{% extends 'admin/common/base.html' %}
{% block content %}
<div class="admin-index">
    <p>你正在使用的是 <span class="label label-default"> pyblog </span> 项目</p>
    <br>
    <div class="col-xs-12 col-sm-offset-4">
        <div class="col-xs-12 col-sm-4">
            <div class="alert alert-danger small" role="alert">
                该功能正在持续更新...，详情请见<a href="https://github.com/eastossifrage/pyblog"
                                    class="alert-link"> GitHub！</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}