{% extends 'common/base.html' %}
{% block content %}
<div class="write-article">
    <div class="row">
        <form method="post" role="form">
            {{ writeArticleForm.hidden_tag() }}
            <div class="col-xs-12 col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                    {{ writeArticleForm.title(class="form-control", placeholder="文章标题", required="", autofocus="")}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-2" style="padding-top: 10px; padding-bottom: 10px">
                <a href="{{ url_for('admin.finder', path='basedir') }}" target="_blank" type="button" class="btn btn-block btn-primary" >
                    图库
                </a>
            </div>
            <div class="col-xs-12">
                {{ writeArticleForm.body(class="form-control", rows="30", placeholder="仅支持Markdown语法")}}
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                    {{ writeArticleForm.category(class="form-control", placeholder="文章类表")}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                    {{ writeArticleForm.tags(class="form-control", placeholder="文章标签，用逗号分隔")}}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="pull-right">
                    <input class="btn btn-default" type="reset" value="重 置">
                    {{ writeArticleForm.submit(class="btn btn-primary")}}
                </div>
            </div>
        </form>
        <div class="modal fade" id="myFolder" tabindex="-1" role="dialog" aria-labelledby="myFolderLabel">
            <div class="modal-dialog modal-sm" role="document">
                <form method="post" role="form" enctype="multipart/form-data" action="">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i> </span>
                                    <input type="text" class="form-control" placeholder="新建文件夹">
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-xs btn-primary">确定</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


