<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come
        *after* these tags -->
        <meta name="description" content="{% block desc %}编程！我们是认真的！{% endblock %}">
        <meta name="author" content="">
        <link rel="icon" href="{{ url_for('main.static', filename='images/favicon.ico')}}">

        <title>{% block title %}藕丝空间{% endblock %}</title>
        {% block css %}
            <!-- Bootstrap core CSS -->
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
                  rel="stylesheet">
            <!-- Custom fonts for this template -->
            <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"
                  rel="stylesheet" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
                  rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,
            400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet'
                  type='text/css'>

            <!-- Custom styles for this template -->
            <link href="{{ url_for('main.static', filename='css/clean-blog.css') }}" rel="stylesheet">
            <link rel="stylesheet" type="text/css"
                  href="https://cdn.bootcss.com/KaTeX/0.7.1/katex.min.css" />
        {% endblock %}
    </head>

    <body data-spy="scroll" data-target="#sidebar" data-offset="20">
        {% include 'common/header.html' %}
        {% block content %}

        {% endblock %}
        {% include 'common/footer.html' %}
        {% block js %}
            <!-- Bootstrap core JavaScript -->
            <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">
            </script>
            <!-- 加载KaTeX js 文件 -->
            <script type="text/javascript" src="https://cdn.bootcss.com/KaTeX/0.7.1/katex.min.js">
            </script>
            <!-- Custom scripts for this template -->
            <script src="{{ url_for('main.static', filename='js/clean-blog.min.js') }}"></script>
            {{ moment.include_moment(local_js=url_for('admin.static', filename='js/moment-with-locales.js')) }}
            {{ moment.lang('zh-cn') }}
            <script type="text/javascript">
                $("tex.tex-inline").each(
                    function(i, domElem) {
                        katex.render(domElem.innerText, domElem, {displayMode: false});
                    });
                $("tex.tex-block").each(
                    function(i, domElem) {
                        katex.render(domElem.innerText, domElem, {displayMode: true});
                    });
            </script>
        {% endblock %}
    </body>
</html>
