<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://weibo.com/gbshi">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank"
                           href="http://wpa.qq.com/msgrd?v=3&uin=27614108&site=qq&menu=yes"
                           title="点击这里给我发消息">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-qq fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/eastossifrage">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                        </a>
                    </li>
                </ul>
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <span class="copyright text-muted">Copyright &copy; 藕丝空间 2014-2018</span>
                    </li>
                    <li class="list-inline-item">
                        <span class="copyright text-muted">
                            <a target="_blank" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">
                                豫ICP备14004317号-1
                            </a>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="copyright text-muted">
                            <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41070202000426">
                                <img src="{{ url_for('.static', filename='images/beian.png') }}">
                                豫公安网安备 41070202000426号
                            </a>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="copyright text-muted">本网站基于
                            <a target="_blank" href="https://github.com/eastossifrage/pyblog">pyblog</a>
                            项目</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>