<div class="col-xs-6 col-sm-3 sidebar-offcanvas small" id="sidebar">
    <ul class="nav nav-pills">
        <li role="presentation" class="col-xs-12">
            <h3>搜索</h3>
        </li>
        <li role="presentation" class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li role="presentation" class="col-xs-12">
            <h3>分类目录</h3>
            <br>
        </li>
        <li role="presentation" class="col-xs-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> git</a></p>
        </li>
        <li role="presentation" class="col-xs-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> linux</a></p>
        </li>
        <li role="presentation" class="col-xs-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> 网络</a></p>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li role="presentation" class="col-lg-12">
            <h3>文件归档</h3>
            <br>
        </li>
        <li role="presentation" class="col-lg-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> 2016年6月</a></p>
        </li>
        <li role="presentation" class="col-lg-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> 2016年7月</a></p>
        </li>
        <li role="presentation" class="col-lg-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> 2016年8月</a></p>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li role="presentation" class="col-lg-12">
            <h3>近期文章</h3>
            <br>
        </li>
        <li role="presentation" class="col-lg-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> Flask-Misaka + pygments 的使用</a></p>
        </li>
        <li role="presentation" class="col-lg-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> 第五章 尝试 Pull Request</a></p>
        </li>
        <li role="presentation" class="col-lg-12">
            <p><i class="glyphicon glyphicon-hand-right"></i><a href="#"> 通过SAMBA在局域网内共享 ubuntu16.04 的文件夹</a></p>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li role="presentation" class="col-lg-12">
            <h3>标签</h3>
            <br>
        </li>
        <li role="presentation" class="col-lg-12">
            <span class="label"><a href="#">New</a></span>
            <span class="label"><a href="#">Network</a></span>
            <span class="label"><a href="#">New</a></span>
            <span class="label"><a href="#">GitHub</a></span>
            <span class="label"><a href="#">markdown</a></span>
            <span class="label"><a href="#">hahahaha</a></span>
            <span class="label"><a href="#">New</a></span>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li role="presentation" class="col-lg-12">
            <h3>简介</h3>
            <br>
        </li>
        <li>
            <p>喜欢markdown，爱上藕丝空间。</p>
        </li>
    </ul>
</div><!--/.sidebar-offcanvas-->