<hr>

<footer>
    <div class="col-xs-12">
        <div class="col-xs -12 col-sm-4">
            <p>Powered by <a href="http://www.os373.cn">Pyblog</a></p>
            <p><a href="{{ url_for('admin.index') }}">管理页面</a></p>
        </div>
        <div class="col-xs -12 col-sm-4">
            <p><a href="mailto:xxxxxxxxxxxxxx@gmail.com"><i class="glyphicon glyphicon-envelope"></i> xxxxxxxxxxx@gmail.com </a></p>
            <p><a href="http://www.miibeian.gov.cn/" target="_blank">豫ICP备xxxxxxxxxxxxx号</a></p>
        </div>
        <div class="col-xs -12 col-sm-4">
            <p class="pull-right"><a href="#">回到顶部</a></p>
        </div>
    </div>
</footer>
