html,
body {
  height: 100%;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  font: 16px "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei","sans-serif";
}

.picture {
  border-style: none;
  vertical-align: top;
  width: 60px;
  height: 50px;
}

.admin-index {
    padding-top: 70px;
    text-align: center;
}

.admin-content {
    padding-top: 10px;
}

.admin-content .theme-upload , .theme-shop {
    padding: 20px 0 20px 0;
}

.admin-content .input-group {
    padding: 20px 0 20px 0;
}

#write-article {
    padding-top: 20px;
}
.write-article .input-group {
    padding: 10px 0 10px 0;
}

.add-admin {
    padding-top: 90px;
}

.add-admin .input-group {
    padding: 20px 0 20px 0;
}
.add-user {
    padding-top: 30px;
}

.add-user .input-group {
    padding: 20px 0 20px 0;
}
.alert-content {
    padding-top: 150px;
}
